:root {
  --pale-purple: #D7D3BF;
  --bone: #A59D84;
  --dun: #2E3532;
  --sage: #b3b492ff;
  --dim-gray: #6f686dff;
}

body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  cursor: context-menu;
  user-select: none;
}

nav {
  background-color: var(--pale-purple);
  width: 300px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20px;
  border-right: 3px solid var(--dim-gray);
  font-weight: 600;
}

nav img {
  width: 300px;
  position: absolute;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-top: 140px;
}

nav ul li {
  margin-bottom: 15px;
  /* margin: 20px; */
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--dim-gray);
  font-size: 16px;
  padding: 20px 40px;
  border-radius: 10px;
  width: 200px; 
  display: block; 
  text-align: center; 
}

nav ul li a:hover {
  color: var(--sage);
  background-color: var(--dim-gray);
}

nav ul li a:active {
  background-color: rgb(97, 91, 100);
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--bone);
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: var(--dun);
}

.active {
  color: var(--sage);
  background-color: var(--dim-gray);
}

.active:hover {
  color: var(--sage);
  background-color: rgb(97, 91, 95);
}