.slider {
  width: 1200px;

  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 33.333%;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

#slider-info {
  font-size: large;
  font-weight: 600;
}
